<div class="card w-100 h-100">
  <figure class="m-0">
    <img
      class="card-img-top h-100 w-100"
      [src]="uneRecette.photo"
      [alt]="uneRecette.nom"
      [routerLink]="['/detailsRecette', uneRecette.id]"
    />
  </figure>
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">
      {{ uneRecette.nom
      }}<i
        (click)="inverserFavori()"
        [ngClass]="{
          'bi-heart': !uneRecette.recetteFavori,
          'bi-heart-fill': uneRecette.recetteFavori
        }"
      ></i>
    </h5>
    <div class="d-flex align-item-center justify-content-between">
      <div>
        <i
          class="bi-currency-euro"
          *ngFor="let n of [].constructor(uneRecette.indicateurs.cout)"
        ></i>
      </div>
      <div>
        <i
          class="bi-trophy-fill ml-1"
          *ngFor="let n of [].constructor(uneRecette.indicateurs.difficulte)"
        ></i>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex align-items-center justify-content-between">
    <span class="text-muted font-italic">
      <i class="bi bi-hourglass-split">
        {{ uneRecette.indicateurs.tpsPreparation }} min.</i
      >
    </span>
    <span class="text-muted font-italic ml-2">
      <i class="bi bi-thermometer-half">
        {{ uneRecette.indicateurs.tpsCuisson }} min.</i
      >
    </span>
    <span class="text-muted font-italic ml-2">
      <i class="bi bi-water"> {{ uneRecette.indicateurs.tpsVaisselle }} min.</i>
    </span>
  </div>
</div>
