<div class="container-fluid p-0">
  <div class="h-100 d-flex detailsRecette" *ngIf="recetteAffichee">
      <div class="menuLateral">
          <figure class="m-0 imageRecette">
              <img class="w-100" [src]="recetteAffichee.photo" [alt]="recetteAffichee.nom">
          </figure>
          <div class="h-100 d-flex flex-column">
              <div class="d-flex align-items-center">
                  <span class="titre">Coût : </span>
                  <div>
                      <i class="bi-currency-euro" *ngFor="let n of [].constructor(recetteAffichee.indicateurs.cout)"></i>
                  </div>
              </div>
              <div class="d-flex align-items-center mt-1">
                  <span class="titre">Difficulté : </span>
                  <div>
                      <i class="bi-star-fill ml-1" *ngFor="let n of [].constructor(recetteAffichee.indicateurs.difficulte)"></i>
                  </div>
              </div>
              <div class="ingredients mt-1">
                  <span class="titre">Ingrédients : </span>
                  <ul>
                      <li *ngFor="let i of recetteAffichee.ingredients">
                          <span *ngIf="!i.obligatoire" class="font-italic">(Facultatif) </span>
                          <span *ngIf="i.unite && i.quantite">
                              {{ i.quantite }} {{ i.unite }} {{ i.nom }}
                          </span>
                          <span *ngIf="!i.unite && i.quantite">
                              {{ i.quantite }} {{ i.nom }}
                          </span>
                      </li>
                  </ul>
              </div>
              <div class="mt-1">
                  <span class="titre">Matériels : </span>
                  <ul>
                      <li *ngFor="let i of recetteAffichee.materiel">{{ i.nom }}</li>
                  </ul>
              </div>
  
          </div>
      </div>
  
      <div class="contenu">
          <div class="titreSection m-2">
              <h3>
                  {{ recetteAffichee.nom }}
              </h3>
              <span>
                  Étapes de préparation : 
              </span>
          </div>
          <ol>
              <li *ngFor="let i of recetteAffichee.etapes">{{ i.description }}</li>
          </ol>
      </div>
  </div>
</div>