.menuLateral {
   flex: 30%;
   background-color: whitesmoke;
}

.contenu {
   flex: 70%
}

@media (max-width: 992px) {
   .detailsRecette {
       flex-direction: column-reverse;
   }

   .contenu {
       overflow: auto;
   }

   /* .imageRecette {
       display: none;
   } */
}

.titre {
   text-decoration: underline;
   font-size: larger;
}

.titreSection {
   text-align: center;
   font-weight: bold;
}