h1 {
  text-align: left;
  padding: 0.5rem 1rem 0;
  margin: 0;

  color: white;
}

.navbar-collapse {
   justify-content: center;
}

@media screen and (min-width:961px){
   h1 {
      text-align: center;
   }
}